<div id="new-task">
    <div class="pb-2">
    <h3>{{ title }}</h3>
    </div>

    <div class="col-lg-12 align-center task-body">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Owner</th>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Est. Time</th>
                        <th scope="col">Time Spend</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in {{data}}">
                        <td>[% row.owner_name %]</td>
                        <td>[% row.title %]</td>
                        <td>[% row.status %]</td>
                        <td>[% row.priority %]</td>
                        <td>[% row.est_time %]</td>
                        <td>[% row.time_spend %]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>